@media screen and (max-width: 2000px) {

    .contenedor-contact {
        min-width: 400px;
    }

}

@media screen and (max-width: 890px) {

    .skills {
        font-size: 13px;
    }
    
    .text-hero2 {
        font-size: 13px;
    }

    .skillbox {
        display: flex;
    }
}


@media screen and (max-width: 800px) {

    .main img {
       margin-top: 110px;
       margin-bottom: -50px;
       width: 160px;
       height: 200px;
    }

    .content-info {   
        width: 300px;
    }

    .container-btn {
        display: flex;
        justify-content: center;
    }

    .text-describe {
       width: 240px;
       text-align: justify;
       font-size: 13px;
    }

    .text-describe-tittle {
        font-size: 25px;
    }

    .main {
        display: flex;
        flex-direction: column;
    }
    
    .mouse {
        display: none;
    }

    .parrafo {
        color: #0e0e0e;
    }
    
    #skills {
        color: #0e0e0e;
        border-color: #0e0e0e;
    }

    #skills:hover {
        color: #0e0e0e;
        font-weight: bold;
        border-color: #f72585;
    }

    #cson {
        font-size: 40px;
    }

}